In [51]:
import pandas as pd
import numpy as np

In [3]:
!python --version

Python 3.13.9

In [52]:
df = pd.read_csv("/mnt/c/Users/huyti/OneDrive/Documents/anaconda_projects/CIVL293/Stockton/Data/Stockton_Police_Department_Calls_for_Service_20251016.csv")

In [6]:
df.head(10)

,CALL_NO,REPORT_NO,CALL_TYPE_ORIG,CALL_TYPE_FINAL,CALL_TYPE_FINAL_D,PRIORITY,BEAT,CURR_DGROUP,REP_DIST,CALL_ENTRY_DATE,FIRST_Cross_Street,X,Y,CALL_ENTRY_TIME_FORMATTED,DISTRICTNAME
0,P190430698,NaN,945,945,AMBULANCE REQ,1.0,VN,VAL,346,2019-02-12 00:00:00.0000000,HAMMER & KATHLEEN,-121.296873,38.020917,14:48:36,Valley Oak
1,P190430699,PD190005995,962,950,OBTAIN REPORT,3.0,CS,CIV,109,2019-02-12 00:00:00.0000000,EL DORADO & MARKET,-121.289518,37.951718,14:50:06,Civic
2,P190430699,PD190005995,962,950,OBTAIN REPORT,3.0,CS,CIV,109,2019-02-12 00:00:00.0000000,EL DORADO & MARKET,-121.289518,37.951718,14:50:06,Civic
3,P190430701,NaN,925R,925R,REPORTS,2.0,CS,CIV,109,2019-02-12 00:00:00.0000000,EL DORADO & MARKET,-121.289518,37.951718,14:50:45,Civic
4,P190430704,NaN,WELCK,WELCK,WELFARE CHECK,2.0,SE,SEA,106,2019-02-12 00:00:00.0000000,LAFAYETTE & SAN JOAQUIN,-121.286390,37.950209,14:52:25,Seaport
5,P190430704,NaN,WELCK,WELCK,WELFARE CHECK,2.0,SE,SEA,106,2019-02-12 00:00:00.0000000,LAFAYETTE & SAN JOAQUIN,-121.286390,37.950209,14:52:25,Seaport
6,P190430710,PD190005987,481,481,HIT RUN NO INJUR,2.0,SW,SEA,230,2019-02-12 00:00:00.0000000,IRENE & STOCKTON,-121.299857,37.930350,14:55:18,Seaport
7,P190430721,NaN,415HW,415HW,CELL 911 HANG UP,1.0,VS,VAL,367,2019-02-12 00:00:00.0000000,FRED RUSSO & JAYDEN,-121.277603,38.009731,15:06:55,Valley Oak
8,P190430720,NaN,415L,415L,CLEAR THE LOT,4.0,VN,VAL,346,2019-02-12 00:00:00.0000000,KNICKERBOCKER & NEW YORK,-121.296082,38.024196,15:06:53,Valley Oak
9,P190430722,NaN,415HW,415HW,CELL 911 HANG UP,1.0,VS,VAL,367,2019-02-12 00:00:00.0000000,FRED RUSSO & JAYDEN,-121.277603,38.009731,15:07:10,Valley Oak

In [56]:
df["CALL_ENTRY_DATE_F"] = pd.to_datetime(df["CALL_ENTRY_DATE"], format='mixed')

In [54]:
mask = (df["CALL_ENTRY_DATE_F"] >= "2019-01-01") & (df["CALL_ENTRY_DATE_F"] <= "2023-12-31")
filtered_df = df.loc[mask]

In [55]:
# filtered_df.drop(columns=['CALL_ENTRY_DATE'], inplace=True)
filtered_df.head(-10)

,CALL_NO,REPORT_NO,CALL_TYPE_ORIG,CALL_TYPE_FINAL,CALL_TYPE_FINAL_D,PRIORITY,BEAT,CURR_DGROUP,REP_DIST,CALL_ENTRY_DATE,FIRST_Cross_Street,X,Y,CALL_ENTRY_TIME_FORMATTED,DISTRICTNAME,CALL_ENTRY_DATE_F
0,P190430698,NaN,945,945,AMBULANCE REQ,1.0,VN,VAL,346,2019-02-12 00:00:00.0000000,HAMMER & KATHLEEN,-121.296873,38.020917,14:48:36,Valley Oak,2019-02-12
1,P190430699,PD190005995,962,950,OBTAIN REPORT,3.0,CS,CIV,109,2019-02-12 00:00:00.0000000,EL DORADO & MARKET,-121.289518,37.951718,14:50:06,Civic,2019-02-12
2,P190430699,PD190005995,962,950,OBTAIN REPORT,3.0,CS,CIV,109,2019-02-12 00:00:00.0000000,EL DORADO & MARKET,-121.289518,37.951718,14:50:06,Civic,2019-02-12
3,P190430701,NaN,925R,925R,REPORTS,2.0,CS,CIV,109,2019-02-12 00:00:00.0000000,EL DORADO & MARKET,-121.289518,37.951718,14:50:45,Civic,2019-02-12
4,P190430704,NaN,WELCK,WELCK,WELFARE CHECK,2.0,SE,SEA,106,2019-02-12 00:00:00.0000000,LAFAYETTE & SAN JOAQUIN,-121.286390,37.950209,14:52:25,Seaport,2019-02-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2756600,P190440953,PD190006168,965B,965B,FOUND PERSON,1.0,SW,SEA,230,2019-02-13 00:00:00.0000000,FIFTH & MALMGREN,-121.297518,37.930942,17:24:11,Seaport,2019-02-13
2756601,P190440954,NaN,912,912,SUSPICIOUS PERSO,2.0,LE,LAK,339,2019-02-13 00:00:00.0000000,EVELYN & PEARL,-121.317374,38.005894,17:24:19,Lakeview,2019-02-13
2756602,P190440953,PD190006168,965B,965B,FOUND PERSON,1.0,SW,SEA,230,2019-02-13 00:00:00.0000000,FIFTH & MALMGREN,-121.297518,37.930942,17:24:11,Seaport,2019-02-13
2756603,P190440953,PD190006168,965B,965B,FOUND PERSON,1.0,SW,SEA,230,2019-02-13 00:00:00.0000000,FIFTH & MALMGREN,-121.297518,37.930942,17:24:11,Seaport,2019-02-13
2756604,P190440953,PD190006168,965B,965B,FOUND PERSON,1.0,SW,SEA,230,2019-02-13 00:00:00.0000000,FIFTH & MALMGREN,-121.297518,37.930942,17:24:11,Seaport,2019-02-13

In [16]:
filtered_df.to_csv("/mnt/c/Users/huyti/OneDrive/Documents/anaconda_projects/CIVL293/Stockton/Data/stockton_911calls_25.csv", index=False, encoding="utf-8-sig")

In [37]:
#2025 data used for benchmarking final models  
#Enfore consistent type for mismatched 911 call type count
filtered_df["CALL_TYPE_ORIG"] = filtered_df["CALL_TYPE_ORIG"].astype(str).str.strip().str.upper()
filtered_df["CALL_TYPE_FINAL"] = filtered_df["CALL_TYPE_FINAL"].astype(str).str.strip().str.upper()

mismatch_per = (filtered_df["CALL_TYPE_ORIG"] != filtered_df["CALL_TYPE_FINAL"]).mean()*100
mismatch = (filtered_df["CALL_TYPE_ORIG"] != filtered_df["CALL_TYPE_FINAL"]).sum()
match = (filtered_df["CALL_TYPE_ORIG"] == filtered_df["CALL_TYPE_FINAL"]).sum()
diffna = (filtered_df["CALL_TYPE_ORIG"].fillna("NA") != filtered_df["CALL_TYPE_FINAL"].fillna("NA")).sum()
print("Mismatch counts: ", mismatch)
print("Percent mismatch", mismatch_per)
print("Matches", match)
total = len(filtered_df)
print("Mismatch counts with filled NA", diffna)
unc = total - (match + mismatch)
print("Unaccounted rows:", unc)

/tmp/ipykernel_6278/2621995575.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["CALL_TYPE_ORIG"] = filtered_df["CALL_TYPE_ORIG"].astype(str).str.strip().str.upper()
/tmp/ipykernel_6278/2621995575.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["CALL_TYPE_FINAL"] = filtered_df["CALL_TYPE_FINAL"].astype(str).str.strip().str.upper()

Mismatch counts:  72089
Percent mismatch 6.746735148834536
Matches 996413
Mismatch counts with filled NA 72089
Unaccounted rows: 0

In [38]:
filtered_df.shape

(1068502, 16)

In [41]:
# Top mismatched pairs of 2025
mismatches_df = filtered_df[filtered_df["CALL_TYPE_ORIG"] != filtered_df["CALL_TYPE_FINAL"]]
top_pairs = mismatches_df.groupby(["CALL_TYPE_ORIG", "CALL_TYPE_FINAL"]).size().sort_values(ascending=False).head(10)
print("\nTop mismatching pairs:\n", top_pairs)

Top mismatching pairs:
 CALL_TYPE_ORIG  CALL_TYPE_FINAL
415F            243                2101
957             245                2092
T               939                1501
901B            901                1366
415             243                1038
415CW           415C               1037
415F            2735               1005
243             2735                690
901B            901A                685
415F            VRO                 632
dtype: int64

In [48]:
# Top mismatched crime type derived from 911 call type of 2025
df3 = pd.read_csv("/mnt/c/Users/huyti/OneDrive/Documents/anaconda_projects/CIVL293/Stockton/Data/output_25.csv")
mismatches_df = df3[df3["CALL_TYPE_ORIG"] != df3["CALL_TYPE_FINAL"]]
mismatch = (df3["CALL_TYPE_ORIG"] != df3["CALL_TYPE_FINAL"]).sum()

category_counts = mismatches_df["category"].value_counts()
print("Total:", len(df3), "\n")
print("Total mismatches", mismatch, "\n")
print("Top categories contributing to mismatches:\n", category_counts)

Total: 1068502

Total mismatches 72089

Top categories contributing to mismatches:
 category
Violent Crime                      16958
Vehicle-Related                    10597
Property Crime                      9926
Public Service / Administrative     8462
Disturbances                        7337
Welfare & Mental Health             5329
Special Operations / Hazard         4661
Administrative / Other              4083
Weapons                             1223
Drug / Vice Related                  972
Suspicious Activity                  852
Medical & Fire Aid                   792
Sexual Offenses                      439
Animal-Related                       237
Alarm-Related                        220
Name: count, dtype: int64

In [57]:
#2019-2023 data to train models
df2 = pd.read_csv("/mnt/c/Users/huyti/OneDrive/Documents/anaconda_projects/CIVL293/Stockton/Data/stockton_911calls_19to23.csv")

#Enfore consistent type for mismatched 911 call type count
df2["CALL_TYPE_ORIG"] = df2["CALL_TYPE_ORIG"].astype(str).str.strip().str.upper()
df2["CALL_TYPE_FINAL"] = df2["CALL_TYPE_FINAL"].astype(str).str.strip().str.upper()

mismatch_per = (df2["CALL_TYPE_ORIG"] != df2["CALL_TYPE_FINAL"]).mean()*100
mismatch = (df2["CALL_TYPE_ORIG"] != df2["CALL_TYPE_FINAL"]).sum()
match = (df2["CALL_TYPE_ORIG"] == df2["CALL_TYPE_FINAL"]).sum()
diffna = (df2["CALL_TYPE_ORIG"].fillna("NA") != df2["CALL_TYPE_FINAL"].fillna("NA")).sum()
print("Mismatch counts: ", mismatch)
print("Percent mismatch", mismatch_per)
print("Matches", match)
total = len(df2)
print("Mismatch counts with filled NA", diffna)
unc = total - (match + mismatch)
print("Unaccounted rows:", unc)

Mismatch counts:  279839
Percent mismatch 10.944382673053
Matches 2277080
Mismatch counts with filled NA 279839
Unaccounted rows: 0

In [58]:
df2.shape
df2.columns

Index(['CALL_NO', 'REPORT_NO', 'CALL_TYPE_ORIG', 'CALL_TYPE_FINAL',
       'CALL_TYPE_FINAL_D', 'PRIORITY', 'BEAT', 'CURR_DGROUP', 'REP_DIST',
       'FIRST_Cross_Street', 'X', 'Y', 'CALL_ENTRY_TIME_FORMATTED',
       'DISTRICTNAME', 'CALL_ENTRY_DATE_F'],
      dtype='object')

In [59]:
# Top mismatched crime type derived from 911 call type of 2019-2023
df3 = pd.read_csv("/mnt/c/Users/huyti/OneDrive/Documents/anaconda_projects/CIVL293/Stockton/Data/output_19to23.csv")
mismatches_df = df3[df3["CALL_TYPE_ORIG"] != df3["CALL_TYPE_FINAL"]]
mismatch = (df3["CALL_TYPE_ORIG"] != df3["CALL_TYPE_FINAL"]).sum()

category = df3["category"].value_counts()
mis_category_counts = mismatches_df["category"].value_counts()
print("Total:", len(df3), "\n")
print("Total mismatches", mismatch, "\n")
print("Top categories contributing to mismatches:\n", mis_category_counts, "\n")
print("Top categories contributing to overall 911 calls 2019-2023:\n", category)

Total: 2556919

Total mismatches 279839

Top categories contributing to mismatches:
 category
Violent Crime                      83835
Vehicle-Related                    42626
Property Crime                     40313
Disturbances                       29096
Welfare & Mental Health            20670
Public Service / Administrative    19606
Administrative / Other             15400
Weapons                            11130
Special Operations / Hazard         7527
Suspicious Activity                 3353
Drug / Vice Related                 1802
Sexual Offenses                     1619
Medical & Fire Aid                  1559
Animal-Related                       773
Alarm-Related                        530
Name: count, dtype: int64

Top categories contributing to overall 911 calls 2019-2023:
 category
Disturbances                       638295
Administrative / Other             327917
Public Service / Administrative    307606
Vehicle-Related                    296722
Medical & Fire Aid                 274488
Violent Crime                      151300
Welfare & Mental Health            139779
Property Crime                     131982
Suspicious Activity                105857
Alarm-Related                       53544
Special Operations / Hazard         52057
Weapons                             30019
Animal-Related                      25378
Sexual Offenses                     11228
Drug / Vice Related                 10747
Name: count, dtype: int64

In [60]:
df3.columns

Index(['CALL_NO', 'REPORT_NO', 'CALL_TYPE_ORIG', 'CALL_TYPE_FINAL',
       'CALL_TYPE_FINAL_D', 'PRIORITY', 'BEAT', 'CURR_DGROUP', 'REP_DIST',
       'FIRST_Cross_Street', 'X', 'Y', 'CALL_ENTRY_TIME_FORMATTED',
       'DISTRICTNAME', 'CALL_ENTRY_DATE_F', 'category'],
      dtype='object')